
<div class="containerc" style="background-image: url('assets/images/bg1.png'); width: 100%; height: 100%">

<form fxLayout="row" fxLayoutAlign="center center" class="col-gap" style="margin-top: 10%" #form="ngForm">
  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="37" fxFlex.lg="38" fxFlex.xl="32">
    <mat-card>
      <h4 class="text-center">Reset Your Password</h4>
      <form fxLayout="column">

        <div class="mb-4">
        <mat-form-field class="w-100">
          <input matInput required type="number"  placeholder="Enter Code" name="code" [(ngModel)]="forgetpassword.code" #code="ngModel"  />
          <mat-error *ngIf="code.errors?.required">Code is required</mat-error>
        </mat-form-field>
        </div>

        <div class="mb-4">
        <mat-form-field class="w-100">
          <input type="password" matInput required  placeholder="Enter New Password" name="password" [(ngModel)]="forgetpassword.password" #password="ngModel"  />
          <mat-error *ngIf="password.errors?.required">Code is required</mat-error>
        </mat-form-field>
        </div>

        <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit" (click)="onSubmit(form)">Submit</button>

      </form>

    </mat-card>
  </div>

</form>


</div>
