
<div [dir]="isRtl" (scroll)="onScrollEvent($event)" fixedInViewport="true">
  <mat-sidenav-container>


    <mat-sidenav #sidenav [(opened)]="embryoService.sidenavOpen" class="sidebar-area" mode="over">
      <mat-nav-list>
        <div fxLayout="row" fxLayoutAlign="center start" style="padding:4px" fxLayoutGap="7px">
          <img src="{{imagepath}}" alt="user-image" width="65" class="rounded-circle mat-elevation-z6">
         <div fxLayout="column" fxLayoutGap="2px">
           <a href="#" style="color: white;font-size: 15px;">{{accountmodel?.fullName}}</a>
           <p style="color: white"> {{accountmodel?.followersCount}} Followers &nbsp; {{accountmodel?.followingCount}} Following</p>
           <a href="#" style="color: white;font-size: 15px;">Sign Out</a>
         </div>
        </div>
        <app-side-bar *ngFor="let item of menuItems.getMainMenu()" [item]="item"></app-side-bar>

       <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 180px">
         <img src="/assets/images/motmrat_white_withoutborder.png" style="width: 110px;height: 110px">
       </div>

      </mat-nav-list>

    </mat-sidenav>


    <mat-sidenav class="em-sidebar" [(opened)]="embryoService.paymentSidenavOpen" position="end" mode="over" >

    </mat-sidenav>
    <div class="rtl-layout"><a class="text-xl" href="javascript:void(0);" (click)="changeLang()">{{usersettingService.getLang() == 'ar' ? 'EN' : 'AR'}}</a></div>
     <app-header></app-header>
    <div class="main" [dir]="isRtl">
      <router-outlet></router-outlet>
    </div>
    <br/>
    <app-footer></app-footer>

  </mat-sidenav-container>
</div>
