<form fxLayout="row" fxLayoutAlign="center" fxLayout.xs="column" fxLayout.sm="column" (ngSubmit)="onSubmit(form)" #form="ngForm" style="margin-top: 29px;margin-bottom: 30px">

  <mat-card   fxLayout="column" fxFlex="50%" class="mat-elevation-z12 box-content-inner">

    <mat-card-content class="box-content">

    <div fxLayout="column">

      <div fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="start" fxLayout.sm="column" fxLayout.xs="column" class="flex-p">

      <mat-form-field>
        <mat-select (selectionChange)="onPriceSelect()" placeholder="{{'eventReg.select_price' | translate}}" required [(ngModel)]="eventRegistrationInputModel.priceTypeId" name="priceTypeId" #priceTypeId= "ngModel">
          <mat-option *ngFor="let eventpirce of eventPricesTypes" [value]="eventpirce.id">
            {{eventpirce.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="priceTypeId.errors?.required">this filed is required</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="auto">
        <input matInput placeholder="{{'eventReg.full_name' | translate}}" required [(ngModel)]="eventRegistrationInputModel.fullName" name="fullName" #fullName= "ngModel">
        <mat-error *ngIf="fullName.errors?.required">this filed is required</mat-error>
      </mat-form-field>
      </div>


      <div fxLayout="row">
        <p>{{'eventReg.select_sessions' | translate}}</p>
      </div>

      <div fxLayout="row">
        <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px" style="margin-top: 10px; margin-bottom: 15px">
          <mat-checkbox (change)="onSesssionSelect(sessionPrice.id)" *ngFor="let sessionPrice of sessionPrices;let i=index">
            {{sessionPrice.title}} , ({{sessionPrice.amount}} SR)
          </mat-checkbox>
        </div>
      </div>

      <div fxLayout="row">
        <p>{{'eventReg.total' | translate}} ( {{total}} {{'eventReg.sr' | translate}} )</p>
      </div>

      <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="15px">
        <img  [src]="filepath" alt="user-image" style="width: 200px;height: 100px" class="img-thumbnail mat-elevation-z6" onclick="document.getElementById('fileToUploadid').click()">
        <h5>(click on image to upload your identity)</h5>

        <input id="fileToUploadid" type="file" style="display:none;" accept="image/*" (change)="onFileSelect($event)">
      </div>

    </div>

    </mat-card-content>
    <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" fxFlexAlign="center" style="padding-left: 70px;padding-right: 70px" type="submit">{{'eventReg.reg_now' | translate}} ( {{total}} ) {{'eventReg.sr' | translate}} </button>
  </mat-card>

</form>
