@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
$custom-typography: mat-typography-config($font-family: '"customfont"' , $headline: mat-typography-level(18px, 48px, 700),
$body-1: mat-typography-level(16px, 24px, 500) , $button : mat-typography-level(15px, 24px, 500));
@include mat-core($custom-typography);

// Define the default theme (same as the example above).
$my-theme-primary:  mat-palette($mat-light-blue, 800, 300, 900);
$my-theme-accent:  mat-palette($mat-teal, 500, 300, 500);
$my-theme-warn:  mat-palette($mat-red, A200);
$my-light-theme:   mat-light-theme($my-theme-primary, $my-theme-accent , $my-theme-warn);

// Include the default theme styles.
@include angular-material-theme($my-light-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
}


//Custom Raised Icon Button colors


// Create your Sass color vars (will be available in all the project)
$primary: mat-color($my-theme-primary);
$accent: mat-color($my-theme-accent);
$warn: mat-color($my-theme-warn);

.primary-color{
   color: $primary;
 }

.warn-color{
  color: $warn;
}

.primary-bg{
  background: $primary;
}
.accent-color{
  color: $accent;
}

.accent-bg{
  background: $accent;
}


