<div fxLayout="row" fxLayoutAlign="center" fxLayout.xs="column" fxLayout.sm="column" style="margin-top: 29px">

  <mat-card fxLayout="column" fxFlex="40%" class="mat-elevation-z12 box-content-inner">


    <mat-card-content class="box-content">
      <div *ngIf="!isLoading">
        <br/>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
          <img src="{{speaker.imagePath}}" alt="user-image" width="120" class="rounded-circle mat-elevation-z6"/>
          <h6>{{speaker.fullName}}</h6>
          <h6>{{speaker.profession}}</h6>
          <p class="text-center">{{speaker.about}}</p>

          <div fxLayout="row" fxLayoutGap.xs="9px" fxLayoutGap="17px">

            <div fxLayout="row" fxLayoutGap="4px">
              <mat-icon>update</mat-icon> <span class="primary-color">{{speaker.createdOnString}}</span>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="17px">
            <span><span style="font-weight: bold;" class="primary-color">{{speaker.followingCount}}</span> &nbsp; Following</span>
            <span><span style="font-weight: bold" class="primary-color">{{speaker.followersCount}}</span> &nbsp; Followers</span>

            <span><span style="font-weight: bold" class="primary-color">{{speaker.contributionCount}}</span> &nbsp; Contribution Count</span>
            <span><span style="font-weight: bold" class="primary-color">{{speaker.eventCount}}</span> &nbsp; Event Count</span>

          </div>
          <button mat-raised-button color="primary" type="button">Follow</button>

          <!--<mat-tab-group mat-stretch-tabs>
            <mat-tab label="Events">

                &lt;!&ndash;<div fxLayout="row wrap" fxLayoutAlign="center center"  fxLayoutGap="20px" style="padding: 14px" >
                  <div fxFlexAlign="start start" *ngFor="let eventModel of events; let i=index" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="35" fxFlex.lg="28" fxFlex.xl="25">
                    <app-event-card  [eventModel]="eventModel" [index]="i" ></app-event-card>
                  </div>
                </div>&ndash;&gt;

            </mat-tab>

            <mat-tab label="Sessions">
             &lt;!&ndash; <div fxLayout="row wrap" fxLayoutAlign="center center"  fxLayoutGap="20px"  style="padding: 14px" >
                <div fxFlexAlign="start start" *ngFor="let session of sessions; let i=index" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="35" fxFlex.lg="28" fxFlex.xl="25">
                  <app-session-card  [session]="session" [index]="i" ></app-session-card>
                </div>
              </div>&ndash;&gt;

            </mat-tab>

            <mat-tab label="Third"> Content 3 </mat-tab>
          </mat-tab-group>-->

        </div>
      </div>

    </mat-card-content>

    <div *ngIf="isLoading" fxLayout="column" style="margin-top: 190px">
      <mat-progress-spinner fxFlexAlign="center"
                            color="primary"
                            mode="indeterminate">
      </mat-progress-spinner>
    </div>

  </mat-card>
  <br/>
  <br/>
  </div>
