<div class="containerc" style="background-image: url('assets/images/bg1.png'); width: 100%; height: 100%">

 <div fxLayout='row wrap' fxLayoutAlign="center center" style="margin-top: 10%" *ngIf="!isLoading">

      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="31" fxFlex.xl="37">
        <div fxLayout='row wrap' fxLayoutAlign="center center">

          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
            <mat-card class="register-form form-margin">
             <div fxLayout="column" fxLayoutAlign="center center">
               <img src="assets/images/mot_green.png" style="width: 210px;height: 80px">
               <h4>Registration</h4>
             </div>
              <form (ngSubmit)="onSubmit(form)" #form="ngForm"  >
                <div class="mb-4">
                  <mat-form-field class="w-100">
                    <input matInput type="text" placeholder="Full Name" required [(ngModel)]="registermodel.fullName" name="fullName" #fullName= "ngModel">
                    <mat-error *ngIf="fullName.errors?.required">this filed is required</mat-error>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <input matInput type="email" placeholder="Email" required [(ngModel)]="registermodel.email" name="email" #email= "ngModel">
                    <mat-error *ngIf="email.errors?.required">this filed is required</mat-error>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <input matInput type="text" placeholder="Mobile (With country Key Like 966)" required [(ngModel)]="registermodel.mobile" name="mobile" #mobile= "ngModel">
                    <mat-error *ngIf="mobile.errors?.required">this filed is required</mat-error>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <input matInput type="password" placeholder="Enter Password" required  [(ngModel)]="registermodel.password" name="password" #password= "ngModel">
                    <mat-error *ngIf="password.errors?.required">this filed is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="mb-4">
                  <mat-form-field class="w-100">
                    <input matInput type="password" placeholder="Password Confirmation" required [(ngModel)]="registermodel.passowrdconfirmation" name="passowrdconfirmation" #passowrdconfirmation= "ngModel">
                    <mat-error *ngIf="passowrdconfirmation.errors?.required">this filed is required</mat-error>
                  </mat-form-field>
                </div>
                <button color="accent" class="button-lg mb-3" mat-raised-button>Submit</button>
                <div> Already have account? then <a class="accent-color" [routerLink]="['/login']">Sign In</a></div>
              </form>



            </mat-card>
          </div>
        </div>
      </div>

    </div>

  <div *ngIf="isLoading" fxLayout="column" style="margin-top: 190px">
    <mat-progress-spinner fxFlexAlign="center"
                          color="primary"
                          mode="indeterminate">
    </mat-progress-spinner>
  </div>


</div>
