<div >

  <div fxLayout="column" fxLayoutGap="20px">
    <app-slider></app-slider>

    <div ngClass="indexPadding" ngClass.xs="container">
      <app-events-filter></app-events-filter>
    </div>


    <br/>
    <br/>
  </div>

</div>
