<div fxLayout="column" style="margin-top: 40px" fxLayoutGap="10px" class="container" *ngIf="!isLoading">
  <img class="img-thumbnail" src="{{eventmodel.eventImage}}" fxFlex.xs="10"  style="height:350px; width: 100%"/>

  <mat-card fxLayout="column" fxLayoutGap="10px">

    <h4 fxLayout="row">{{eventmodel.name}}</h4>

    <div fxLayout="row" fxLayoutGap="10px">
      <mat-icon>calendar_today</mat-icon> <h5>{{getDateOnly(eventmodel.eventOn)}}</h5> <h5> {{'events.to' | translate}} </h5>  <mat-icon>calendar_today</mat-icon> <h5>{{getDateOnly(eventmodel.eventEndOn)}}</h5>
    </div>


    <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column" fxFlexAlign="start">

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-icon>location_on</mat-icon> <a href="https://www.google.com/maps/@{{eventmodel.center.latitude}},{{eventmodel.center.longitude}},15z" target="_blank"> <h5>{{eventmodel.center.name}}</h5> </a>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxFlexAlign="start">
        <mat-icon>timer</mat-icon> <h5 class="primary-color">{{eventmodel.hours}} {{'events.certified_hours' | translate}}</h5>
      </div>

    </div>



    <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column">
      <div fxLayout="row" fxLayoutGap="10px">
       <mat-icon>attach_money</mat-icon>  <h5>{{'events.payment' | translate}}  {{eventmodel.paymentType.name}}</h5>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-icon>receipt</mat-icon> <h5>  {{'events.attendance' | translate}} {{eventmodel.attendanceType.name}}</h5>
      </div>
    </div>


    <pre fxLayout="row" style="white-space:pre-wrap">

        {{eventmodel.body}}

    </pre>

    <h4 class="primary-color" fxLayout="row">{{'events.event_days' | translate}} :</h4>
    <mat-tab-group>
        <br/>
      <mat-tab label="{{eventday.name}}" *ngFor="let eventday of eventmodel.eventDays">

        <ng-template mat-tab-label>
          <mat-icon>calendar_today</mat-icon> &nbsp;
          Event {{eventday.name}}
        </ng-template>
        <app-sessions-list (isDataLoaded)="sessionsLoaded()" [eventid]="eventday.eventId" [sessionsDate]="eventday.time"></app-sessions-list>

      </mat-tab>
    </mat-tab-group>

  </mat-card>

  <mat-card *ngIf="eventmodel.materials.length >0">
    <div class="container">
      <app-event-material [eventid]="eventmodel.id"></app-event-material>
    </div>
  </mat-card>

  <mat-card>

    <div fxLayout="column">
      <div fxLayout="row">
        <h5>{{'events.notes' | translate}}</h5>
      </div>
      <pre style="white-space:pre-wrap">{{eventmodel.notes}}</pre>
    </div>

  </mat-card>

  <mat-card *ngIf="eventmodel.sponsors.length > 0">
    <div class="container">
      <app-sponsors [eventId]="eventmodel.id"></app-sponsors>
    </div>
  </mat-card>

  <br/>

  <div fxLayout="row"  fxLayoutAlign="center" *ngIf="!eventmodel.isCurrentUserRegistered">
    <button mat-raised-button color="accent" type="button" style="padding-left: 14px;padding-right: 14px" fxFlex="30" (click)="openRegistertion()">
      {{ getEventStatus(eventmodel.isHavePendingRegistration) | translate}}</button>
  </div>
</div>


<div *ngIf="isLoading" fxLayout="column" style="margin-top: 190px">
  <mat-progress-spinner fxFlexAlign="center"
                        color="primary"
                        mode="indeterminate">
  </mat-progress-spinner>
</div>

