<div class="pt-5">
  <div class="container">
    <h5 style="margin-left: 18px">Top Events</h5>
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
    <div fxLayout="row" ngxSlickItem *ngFor="let event of events; let i=index">
      <app-event-card style="width: 290px;padding: 20px" [eventmodel]="event" [index]="i" ></app-event-card>
    </div>
  </ngx-slick-carousel>
  </div>
</div>
