<mat-toolbar color="primary" class="header-v1">

  <mat-toolbar-row class="header-v1-top" style="margin-top: 10px">
  <div fxLayout="row" fxFlex>

    <div fxLayout="row" fxLayoutGap="60px" fxLayoutGap.xs="130px" fxLayoutAlign="center center" fxflex="15" fxFlex.xl="15" fxFlex.md="26">
      <img src="assets/images/motmrat_white_withoutborder.png" style="width: 80px ; height: 80px"/>

      <img  src="assets/images/logo_withoutborder.png" style="width: 130px ; height: 80px" fxFlex.xs="40"/>
    </div>

    <div fxFlex="40" fxHide.xs="true" fxHide.sm="true"></div>
    <div fxFlex="20" fxHide.xs="true" fxHide.sm="true"></div>

    <div fxFlex="20" fxHide.xs="true" fxHide.sm="true" fxHide.lg="true"></div>
    <div fxFlex="20" fxHide.xs="true" fxHide.sm="true" fxHide.lg="true"></div>


      <div class="list-flex user-tool" fxLayout="row" fxLayoutGap="20px" *ngIf="loginService.islogedIn()" fxFlex="20" fxHide.xs="true" fxHide.sm="true">

        <div  fxLayout="column" fxLayoutGap="0px" >

          <a routerLink="/account/profile" fxFlexAlign="end" style="font-size: 14px;margin: 0px;padding: 0px;height: 22px">
            {{accountModel?.fullName}}
          </a>

          <a href="javascript:" (click)="logout()" fxFlexAlign="end" style="font-size: 14px;height: 22px">
            Sign out
          </a>

        </div>

        <img src="{{imagepath}}" class="rounded-circle mat-elevation-z3" width="50" height="50" alt="log-in-user">

      </div>

    <div class="list-flex user-tool" fxLayout="row" fxLayoutGap="20px" *ngIf="!loginService.islogedIn()" fxFlex="20" fxHide.xs="true" fxHide.sm="true">

      <div  fxLayout="column" fxLayoutGap="0px" >

        <a routerLink="/login" fxFlexAlign="end" style="font-size: 14px;margin: 0px;padding: 0px;height: 22px">
          {{'header.log_in' | translate}}
        </a>

        <a routerLink="/register" fxFlexAlign="end" style="font-size: 14px;height: 22px">
          {{'header.register' | translate}}
        </a>

      </div>

    </div>

  </div>


  </mat-toolbar-row>


  <mat-toolbar-row class="header-v1-bottom main-menu-wrap">

    <div class="" style="margin-top: 50px">
      <div style="margin-top: 20px">

          <app-menu></app-menu>

        <button class="responsive-toggle" mat-icon-button (click)="toggleSidebar()" >
          <i class="material-icons" fxHide.lg="true" fxHide.xl="true" fxHide.md="true">menu</i>
        </button>
      </div>
    </div>
  </mat-toolbar-row>


  <mat-toolbar-row class="responsive-bar relative">
    <div class="container">
      <div fxLayoutAlign="space-between">

        <button class="responsive-toggle" mat-icon-button (click)="toggleSidebar()">
          <i class="material-icons">menu</i>
        </button>
        <div>
        </div>
      </div>
    </div>
  </mat-toolbar-row>


</mat-toolbar>

<app-fix-header></app-fix-header>
