
  <div fxLayout="column" class="container" style="margin-top: 30px;margin-bottom: 30px" *ngIf="!isLoading">

   <!-- <div fxLayout="row" fxLayoutGap="50px" fxLayoutGap.xs="26px" fxLayoutAlign="center">

      <mat-form-field class="example-full-width" fxFlex="60">
        <input matInput placeholder="Search for Events" >
      </mat-form-field>

      <button type="button" mat-fab>
        <i class="material-icons notranslate">
          search
        </i>
      </button>
    </div>-->

    <ng-container>
    <div fxLayout="row wrap" fxLayoutAlign="start start"  fxLayoutGap="20px" *ngIf="!isEmptydata">
      <div fxFlexAlign="start start" *ngFor="let eventModel of events; let i=index" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="35" fxFlex.lg="28" fxFlex.xl="25">
        <app-event-card [eventid]="eventModel.id"  [eventmodel]="eventModel" [index]="i"></app-event-card>
      </div>
    </div>
    </ng-container>

    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isEmptydata" style="margin-top: 30px">

      <div fxLayout="column" fxFlexAlign="center" fxLayoutGap="15px">
        <!-- <mat-icon style="font-size: 80px" fxFlexAlign="center">not_interested</mat-icon>-->
        <h4 fxFlexAlign="start">{{'events.no_events' | translate}}</h4>
        <button mat-raised-button color="primary" routerLink="/">{{'events.join_event' | translate}}</button>
      </div>

    </div>

  </div>


  <div *ngIf="isLoading" fxLayout="column" style="margin-top: 190px">
    <mat-progress-spinner fxFlexAlign="center"
                          color="primary"
                          mode="indeterminate">
    </mat-progress-spinner>
  </div>
