<div fxLayout="column" fxLayoutGap="20px" *ngIf="!isLoading">

<div fxLayout="row" fxLayoutGap="5px" fxflex="20">
  <mat-icon>date_range</mat-icon>
  <h5>{{'events.find_best' | translate}}</h5>
</div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="25px" fxLayoutGap.sm="15px">
    <mat-form-field fxFlex="14">
      <mat-select placeholder="{{'events.event_type' | translate}}" [(value)]="eventtypeId">
        <mat-option *ngFor="let type of eventTypes" [value]="type.id">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="14">
      <mat-select placeholder="{{'events.specialize' | translate}}" [(value)]="specialityId">
        <mat-option *ngFor="let specialty of specilities" [value]="specialty.id">
          {{specialty.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="14">
      <input matInput [matDatepicker]="picker" placeholder="{{'events.from_date' | translate}}" [(ngModel)]="fromdate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="14">
      <input matInput [matDatepicker]="picker2" placeholder="{{'events.to_date' | translate}}" [(ngModel)]="todate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="accent" fxFlex="11" style="padding: 0px" (click)="searchForEvents()">{{'events.find' | translate}}</button>
    <button mat-raised-button color="primary" fxFlex="5" style="padding: 0px" (click)="clear()">{{'events.clear' | translate}}</button>

  </div>

  <br/>

  <div fxLayout='row wrap' fxLayoutAlign="start start"  fxLayoutGap="20px" style="margin-top: 20px" *ngIf="!isEmptydata">
    <div fxFlexAlign="start start" *ngFor="let eventModel of events; let i=index" fxFlex.xs="100" fxFlex.sm="46" fxFlex.md="47" fxFlex.lg="31" fxFlex.xl="26">
      <app-event-card [eventmodel]="eventModel" [index]="i" ></app-event-card>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isEmptydata">

    <div fxLayout="column" fxFlexAlign="center" fxLayoutGap="60px">
     <!-- <mat-icon style="font-size: 80px" fxFlexAlign="center">not_interested</mat-icon>-->
      <h4 fxFlexAlign="start">No Events Found , Try Again</h4>
    </div>

  </div>

</div>

<div *ngIf="isLoading" fxLayout="column" style="margin-top: 190px">
  <mat-progress-spinner fxFlexAlign="center"
                        color="primary"
                        mode="indeterminate">
  </mat-progress-spinner>
</div>
