<div class="containerc" style="background-image: url('assets/images/bg1.jpg'); width: 100%; height: 100%">

  <form fxLayout="row" fxLayoutAlign="center center" class="col-gap" style="margin-top: 10%;" #form="ngForm">

    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="36" fxFlex.lg="32" fxFlex.xl="25">
      <mat-card>

        <div fxLayout="column" fxLayoutAlign="center center">
          <a routerLink="/">
            <img src="assets/images/no_event.png" style="width: 210px;height: 80px">
          </a>

        </div>

        <form fxLayout="column">

          <div class="mb-4">
            <mat-form-field class="w-100">
              <input matInput type="email" placeholder="Email" required name="email" [(ngModel)]="loginmodel.email" #email="ngModel">
              <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
              <mat-error *ngIf="email.errors?.email">please enter email format</mat-error>
            </mat-form-field>
          </div>

          <div class="mb-4">

            <mat-form-field class="w-100">
              <input matInput type="password" placeholder="Password" required name="password" [(ngModel)]="loginmodel.password" #password="ngModel">
              <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <a routerLink="/password/forget" fxFlexAlign="end">Forgot Password?</a>
          </div>

          <div fxLayout="column" style="padding: 25px">
            <button type="submit" color="primary" class="button-lg mb-3" mat-raised-button fxflexAlign="center" (click)="onSubmit(form)">Sign In</button>
            <h6 fxFlexAlign="center">OR</h6>
            <br/>
            <button type="button" style="background-color: #283593;color: white" class="button-lg mb-3" mat-raised-button (click)="socialLogin('facebook')">FaceBook</button>
            <button type="button" style="background-color: red;color: white" class="button-lg mb-3" mat-raised-button (click)="socialLogin('google')">Google</button>
          </div>


          <p>Don't have an account? <a routerLink="/register">Click here to create one</a></p>

        </form>

      </mat-card>
    </div>

  </form>

</div>
