<mat-card class="example-card"  style="margin-top: 14px">

  <mat-card-content class="product-content relative" fxLayout="column"  fxLayoutGap="8px">
    <h5>{{session?.title}} </h5>
    <div fxLayout="row" fxLayoutGap="6px" fxLayoutGap.sm="1px" fxLayoutGap.xs="1px">
     <div fxLayout="row">
       <mat-icon>date_range</mat-icon>
       <h6>11/2/2019</h6>
     </div>
     <div fxLayout="row">
       <mat-icon>location_on</mat-icon>
       <h6>Life Center</h6>
     </div>
    </div>
    <p>{{session.description}}</p>
  </mat-card-content>

</mat-card>
