
<div class="containerc" style="background-image: url('assets/images/bg1.png'); width: 100%; height: 100%">

<form fxLayout="row" fxLayoutAlign="center center" class="col-gap" style="margin-top: 10%" #form="ngForm">
  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="31" fxFlex.lg="38" fxFlex.xl="33">
    <mat-card>
      <h4 class="text-center">Forget Password Form</h4>
      <p class="text-center"> You Will Receive Code on Your Email To Reset Your Password</p>

      <form fxLayout="column">
        <div class="mb-4">
          <mat-form-field class="w-100">
            <input matInput required email  placeholder="Enter Email" name="email" [(ngModel)]="forgetpassword.email" #email="ngModel"  />
            <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
            <mat-error *ngIf="email.errors?.required">enter email format</mat-error>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit" (click)="onSubmit(form)">Submit</button>

      </form>

    </mat-card>
  </div>

</form>

</div>
