<h2 mat-dialog-title>Payment</h2>
<mat-dialog-content class="mat-typography">

  <iframe [src]="safeSrc" width="100%" height="650" frameborder="0" webkitallowfullscreen mozallowfullscreen
          allowfullscreen></iframe>
  <br/>
  <br/>

  <div fxLayout="column" fxLayoutAlign="center center">
    <button type="button" color="primary" mat-raised-button (click)="close()">{{'eventReg.close' | translate}}</button>
  </div>


</mat-dialog-content>
