<mat-card class="example-card" *ngIf="eventmodel" style="margin-top: 14px;">

  <mat-card-content fxLayout="row"  fxLayoutGap="15px">

    <a routerLink="/events/1">
      <img width="250" height="250" [src]="eventmodel?.eventImage" class="rounded" alt="Photo"/>
    </a>

    <div fxLayout="column" style="width: 400px">
      <h5><a routerLink="/events/details/{{eventId}}" class="title-link">{{eventmodel?.name}}</a> </h5>
      <div fxLayout="row" fxLayoutGap="6px" fxLayoutGap.sm="1px" fxLayoutGap.xs="1px">
        <mat-icon>date_range</mat-icon>
        <h6>{{formatDate(eventmodel.eventOn)}}</h6>
        <mat-icon>location_on</mat-icon>
        <h6>{{eventmodel.center.name}}</h6>
      </div>

      <p style="word-wrap: break-word">{{eventmodel.body}}</p>

      <div fxLayout="row" fxLayoutGap="15px">
        <div fxLayout="row" fxLayoutGap="5px">
        <mat-icon>access_time</mat-icon> <p>{{eventmodel.hours}} A certified Hours</p>
        </div>
      </div>
    </div>

    </mat-card-content>

</mat-card>
