<form fxLayout="row" fxLayoutAlign="center" fxLayout.xs="column" fxLayout.sm="column" (ngSubmit)="onSubmit(form)" #form="ngForm" style="margin-top: 29px">

  <mat-card *ngIf="!isLoading"  fxLayout="column" fxFlex="80%" class="mat-elevation-z12 box-content-inner">
    <input [(ngModel)]="accountModel.id" type="hidden" name="id" />

    <mat-card-header fxFlexAlign="center">
      <div fxLayout="column" fxLayoutAlign="space-around center" class="user-info" fxLayoutGap="15px">
        <img  [src]="imagePath" onclick="document.getElementById('fileToUploadid').click()" alt="user-image" width="140" class="rounded-circle mat-elevation-z6">
        <p>(click on image to change it !)</p>
        <input id="fileToUploadid" type="file" style="display:none;" accept="image/*" (change)="onFileSelect($event)">
      </div>
    </mat-card-header>


    <mat-card-content class="box-content">
      <br/>
      <br/>
      <div fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="start" fxLayout.sm="column" fxLayout.xs="column" class="flex-p">

        <mat-form-field fxFlex="auto">
          <input type="text" matInput placeholder="Full Name" required [(ngModel)]="accountModel.fullName" name="fullName" #fullName= "ngModel">
          <mat-error *ngIf="fullName.errors?.required">this filed is required</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="auto">
          <input matInput placeholder="Arbic Full Name" required [(ngModel)]="accountModel.arabicFullName" name="arabicFullName" #arabicFullName= "ngModel">
          <mat-error *ngIf="arabicFullName.errors?.required">this filed is required</mat-error>
        </mat-form-field>


        <mat-form-field fxFlex="auto">
          <mat-select placeholder="Profession" [(ngModel)]="accountModel.specialtyId" name="specialtyId">
            <mat-option *ngFor="let specialty of specilities" [value]="specialty.id">
              {{specialty.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="start" fxLayout.sm="column" fxLayout.xs="column" class="flex-p">
        <mat-form-field fxFlex="auto">
          <input matInput placeholder="Job Title"  [(ngModel)]="accountModel.jobTitle" name="jobTitle" #jobTitle="ngModel">
        </mat-form-field>

        <mat-form-field fxFlex="auto">
          <input matInput placeholder="Organization Name"  [(ngModel)]="accountModel.organizationName" name="organizationName" #organizationName="ngModel">
        </mat-form-field>

        <mat-form-field fxFlex="auto">
          <input type="tel" matInput placeholder="Mobile (With country Key Like 966)" required [(ngModel)]="accountModel.mobile" name="mobile" #mobile="ngModel">
          <mat-error *ngIf="mobile.errors?.required">this filed is required</mat-error>
        </mat-form-field>
      </div>


      <div fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="start" fxLayout.sm="column" fxLayout.xs="column" class="flex-p">

        <mat-form-field fxFlex="auto">
          <textarea matInput placeholder="About" required [(ngModel)]="accountModel.about" name="about" #about="ngModel"> </textarea>
        </mat-form-field>

      </div>

    </mat-card-content>
    <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" fxFlexAlign="center" style="padding-left: 70px;padding-right: 70px" type="submit">Update Profile</button>
  </mat-card>

  <div *ngIf="isLoading" fxLayout="column" style="margin-top: 190px">
    <mat-progress-spinner fxFlexAlign="center"
                          color="primary"
                          mode="indeterminate">
    </mat-progress-spinner>
  </div>
</form>
