<mat-toolbar color="primary" class="embryo-fixed-header">
  <mat-toolbar-row>
    <div class="container">
      <div fxLayoutAlign="space-between">
        <div class="logo-site">
          <a [routerLink]="['/']"> <img src="assets/images/logo.png" width="224" height="34" alt=""> </a>
        </div>
        <app-menu></app-menu>
        <button class="responsive-toggle" mat-icon-button (click)="toggleSidebar()">
          <i class="material-icons">menu</i>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
