<div>
  <div>

    <ngx-slick-carousel class="carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slides">
      <div class="text-center">
        <div class="relative">
          <img [src]="slide.img" alt="" style="height: 550px;width: 100%" fxHide.xs="true" fxHide.sm="true">

          <img [src]="slide.small_img" alt="" style="height: 220px;width: 100%" fxHide.lg="true" fxHide.xl="true" fxHide.md="true">
          <!--<div>
            <div class="slider-content-v3-inner m-auto">
              <p class="text-inverse">{{slide.content}}</p>
              <h5 class="font-bold mb-4 text-inverse">{{slide.heading_one}}</h5>
              &lt;!&ndash; <h2 class="mb-4 text-inverse">{{slide.heading_two}}</h2> &ndash;&gt;
              &lt;!&ndash;<button mat-raised-button [routerLink]="['/products']">SHOP NOW</button>&ndash;&gt;
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </ngx-slick-carousel>

  </div>
</div>
