<mat-card class="example-card" *ngIf="eventmodel" style="margin-top: 14px">
  <a routerLink="/events/details/{{eventmodel.id}}">
    <img height="1"   mat-card-image [src]="eventmodel?.eventImage" alt="Photo"/>
  </a>

  <mat-card-content>

    <div fxLayout="column" fxLayoutGap="7px" class="product-content relative">

      <div fxLayout="row">
        <h5><a routerLink="/events/details/{{eventmodel.id}}" class="title-link">{{eventmodel?.name}}</a> </h5>
      </div>

      <div fxLayout="column" fxLayoutGap="6px" fxLayoutGap.sm="1px" fxLayoutGap.xs="1px">

        <div fxLayout="row" fxLayoutGap="5px">
          <mat-icon>date_range</mat-icon>
          <h6>{{formatDate(eventmodel?.eventOn)}}</h6>
        </div>

        <div fxLayout="row" fxLayoutGap="5px">
          <mat-icon>location_on</mat-icon>
          <h6>{{eventmodel?.center.name}}</h6>
        </div>

      </div>

      <div fxLayout="wrap">
       <p [ngStyle]="{'text-align': textdirc}"> {{truncateText(eventmodel?.body)}}</p>
      </div>
    </div>

  </mat-card-content>

</mat-card>
