<div class="container">
  <div fxLayout="row">
    <h5 style="margin-left: 18px">{{'events.event_sponsors' | translate}}</h5>
  </div>
<br/>
<br/>
  <ngx-slick-carousel class="carousel" [config]="slideConfig">

    <div ngxSlickItem *ngFor="let sponsormodel of eventSponsor">
      <a  href="https://google.com" target="_blank">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1px">
          <img width="150" height="30" [src]="sponsormodel.logo"  alt="logo client">
          <p fxFlexAlign="center center" style="margin-top: 5px; font-weight: bold">{{sponsormodel.name}}</p>
        </div>
      </a>

    </div>
  </ngx-slick-carousel>
</div>



