<div class="containerc" style="background-image: url('assets/images/bg1.png'); width: 100%; height: 100%">
  <form fxLayout="row" fxLayoutAlign="center" fxLayout.xs="column" fxLayout.sm="column" (ngSubmit)="onSubmit(form)" #form="ngForm" style="margin-top: 29px;padding: 25px">

    <mat-card *ngIf="!isLoading"  fxLayout="column" fxFlex="40%" class="mat-elevation-z12 box-content-inner">

      <mat-card-content class="box-content" fxLayout="column">

        <mat-form-field fxFlex="auto">
          <input matInput placeholder="{{'feedback.title' | translate}}" required [(ngModel)]="contactusModel.title" name="title" #title= "ngModel">
          <mat-error *ngIf="title.errors?.required">this filed is required</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="auto">
          <input type="email" matInput placeholder="{{'feedback.email' | translate}}" required [(ngModel)]="contactusModel.email" name="email" #email= "ngModel">
          <mat-error *ngIf="email.errors?.required">this filed is required</mat-error>
          <mat-error *ngIf="email.errors?.email">is not email format</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="auto">
          <input type="number" matInput placeholder="{{'feedback.mobile' | translate}}" required [(ngModel)]="contactusModel.mobile" name="mobile" #mobile= "ngModel">
          <mat-error *ngIf="mobile.errors?.required">this filed is required</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="auto">
          <textarea rows="6" cols="6" matInput placeholder="{{'feedback.message_body' | translate}}" required [(ngModel)]="contactusModel.body" name="body" #body= "ngModel"> </textarea>
          <mat-error *ngIf="body.errors?.required">this filed is required</mat-error>
        </mat-form-field>

      </mat-card-content>
      <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" fxFlexAlign="center" style="padding-left: 70px;padding-right: 70px" type="submit">{{'feedback.send' | translate}}</button>
    </mat-card>

  </form>
</div>
