<div fxLayout="column">
  <div fxLayout="row">
    <h5>{{'events.event_material' | translate}}</h5>
  </div>
<div fxLayout="row" *ngFor="let eventMaterialModel of eventMaterials" fxLayoutGap="16px">
  <mat-icon>insert_drive_file</mat-icon>
  <a href="{{eventMaterialModel.filePath}}" download>
    {{eventMaterialModel.name}} ({{eventMaterialModel.totalViews}} views)
  </a>

</div>
</div>
