<div *ngIf="sessions">

  <div fxLayout="row" fxLayoutGap ="40px" fxLayoutGap.sm="15px" fxLayoutGap.xs="15px" style="margin-top: 15px" *ngFor="let sessionmodel of sessions;">

    <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign ="start start">
      <img src="{{sessionmodel.speaker.user.imagePath==null? placeimage : sessionmodel.speaker.user.imagePath}}" [ngClass]="['rounded-circle' , 'logoworkbig']" [ngClass.xs]="['rounded-circle' , 'logowork']" fxFlexAlign="center" fxFlexAlign.xs="start"/>
      <h6 style="margin-top: 10px" fxFlexAlign="center" fxFlexAlign.xs="start">
       <h6>{{sessionmodel.speaker.user.fullName}}</h6>
      </h6>

      <h6 style="margin-top: 10px" class="primary-color" fxFlexAlign="center" fxFlexAlign.xs="start">{{sessionmodel.speaker.user.jobTitle}}</h6>
    </div>

    <div fxLayout="column" style="margin-top: 15px" fxLayoutGap ="8px" fxFlex="60">
     <div fxLayout="row">
       <h4>{{sessionmodel.title}}</h4>
     </div>
      <div fxLayout="row" fxLayoutGap="6px">
        <mat-icon>perm_contact_calendar</mat-icon> <h6>{{getDateOnly(sessionmodel.startOn)}}</h6>
      </div>
      <div fxLayout="row">
      <pre [ngStyle]="{'text-align': textdirc}" style="white-space:pre-wrap">{{sessionmodel.description}}</pre>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutGap.xs = "5px">
        <mat-icon>adjust</mat-icon> <p>{{sessionmodel.hall.name}}</p>

        <mat-icon>access_time</mat-icon> {{getTimeOnly(sessionmodel.startOn)}} <span fxHide.xs="true">&nbsp; - </span> <span fxHide.xs="true">{{getTimeOnly(sessionmodel.endOn)}}</span>

        <a href="javascript:" (click)="openMatrialDialog(sessionmodel.id)" fxHide.xs="true">
          <mat-icon>cloud_download</mat-icon>
        </a>

        <h5 fxHide.xs="true">Files</h5>
      </div>

    </div >

  </div>



</div>
