// Shop Card
body .mat-card .mat-card-image {
	max-width: inherit;
	border-bottom: 1px solid #eee;
  height: 150px;
}

.m-icon {
	position: absolute;
	top: -49px;
	right: -5px;
	transition: all 0.3s ease-in;
}
.wishlist-icon{
   position: absolute;
	top: 15px;
	right: 010px;
   z-index: 99;
   cursor: pointer;
	width: 50px;
   height: 50px;
   transition: all 0.3s ease-in 0s;
	text-align: center;
	line-height: 50px;
   a {
      color: rgba(0,0,0,0.4);
      &:hover{
         color:rgba(0, 0, 0, 0.7);
      }
   }
  
}

mat-card:hover .m-icon {
	transform: translateY(-20px);
}

.no-card-content {
	padding-bottom: 0 !important;
}

.card-shadow {
	box-shadow: $card-shadow;
}

.shop-card-gap{
   margin-top: -120px;
   padding:1rem;
}
.section-title-toolbar{
   padding:1rem;
}

.section-title-toolbar {
	border-radius: 10px;
}
.box-shadow-md{
   &:hover{
         box-shadow: 0 0 16px 0 rgba(0,0,0,0.12), 0 16px 16px 0 rgba(0,0,0,0.24) !important;
         .button-grey {
            background: $accent;
            color: #fff;
          }
   }
}

.wishlist-icon.wishlist-active a{
  color:rgba(0,0,0,1);
}
