<h2 mat-dialog-title>Event Material List</h2>
<mat-dialog-content class="mat-typography">

  <div fxLayout="column" fxLayoutGap="10px" *ngIf="!isLoading">
    <div fxLayout="row" fxLayoutGap="6px" *ngFor="let sessionMaterial of sessionMaterials">
      <mat-icon>insert_drive_file</mat-icon>
      <a href="{{sessionMaterial.filePath}}" target="_blank">
        {{sessionMaterial.fileSizeBytesString}}
      </a>
    </div>
  </div>

  <div *ngIf="isLoading" fxLayout="column">
    <mat-progress-spinner fxFlexAlign="center"
                          color="primary"
                          mode="indeterminate">
    </mat-progress-spinner>
  </div>

</mat-dialog-content>
