<div fxHide.xs="true" fxHide.sm="true">

  <br/>
  <br/>

  <div class="container" fxLayout="column" [ngStyle]="{'text-align': textdirc}">
    <h3 class="primary-color">{{'about_us.intro' | translate}}</h3>
    <div fxLayout="row" fxLayoutGap="25px" fxFlex>
      <p fxFlex="60">
        {{'about_us.body' | translate}}
      </p>
      <img  src="assets/images/kf-sm.png" style="width: 250px ; height: 130px"/>


    </div>
    <br/>

    <div fxLayout="row" fxLayoutGap="25px" fxFlex>
      <p fxFlex="58">
        {{'about_us.body2' | translate}}
      </p>

      <img src="assets/images/mot_green.png" style="width: 210px ; height: 90px" />

    </div>

    <div fxLayout="row" fxLayoutGap="90px" fxFlex>

      <div fxLayout="column"  fxFlex="50">
        <h3 class="primary-color">{{'about_us.what_is_service' | translate}}</h3>
        <p> {{'about_us.app_provide' | translate}} </p>
        <ul>
          <li>{{'about_us.online_reg' | translate}}</li>
          <li>{{'about_us.online_payment' | translate}}</li>
          <li>{{'about_us.event_info' | translate}}</li>
          <li>{{'about_us.badge' | translate}}</li>
          <li>{{'about_us.session' | translate}}</li>
          <li>{{'about_us.social_media' | translate}}</li>
          <li>{{'about_us.rate' | translate}}</li>
          <li>{{'about_us.certificate' | translate}}</li>
        </ul>

      </div>

      <img src="assets/images/pic1.png" style="width: 150px ; height: 290px"/>

    </div>

    <div fxLayout="row" fxLayoutGap="20px">
      <img src="assets/images/pic4.png" style="width: 150px ; height: 290px"/>
      <img src="assets/images/pic3.png" style="width: 150px ; height: 290px"/>
      <img src="assets/images/pic2.png" style="width: 150px ; height: 290px"/>
    </div>



  </div>


</div>


<div fxHide.xs="false" fxHide.sm="false">

  <br/>
  <br/>

  <div class="container" fxLayout="column" [ngStyle]="{'text-align': textdirc}">
    <h3 class="primary-color">{{'about_us.intro' | translate}}</h3>
      <p>
        {{'about_us.body' | translate}}
      </p>
    <div style="text-align: center">
      <img  src="assets/images/kf-sm.png" style="width: 250px ; height: 130px"/>
    </div>
    <br/>
      <p>
        {{'about_us.body2' | translate}}
      </p>

     <div style="text-align: center">
       <img src="assets/images/mot_green.png" style="width: 210px ; height: 90px" />
     </div>
    <br/>

      <div fxLayout="column">
        <h3 class="primary-color">{{'about_us.what_is_service' | translate}}</h3>
        <p> {{'about_us.app_provide' | translate}} </p>
        <ul>
          <li>{{'about_us.online_reg' | translate}}</li>
          <li>{{'about_us.online_payment' | translate}}</li>
          <li>{{'about_us.event_info' | translate}}</li>
          <li>{{'about_us.badge' | translate}}</li>
          <li>{{'about_us.session' | translate}}</li>
          <li>{{'about_us.social_media' | translate}}</li>
          <li>{{'about_us.rate' | translate}}</li>
          <li>{{'about_us.certificate' | translate}}</li>
        </ul>
    </div>
    <div fxLayout="column" fxLayoutGap="15px" style="text-align: center">
      <img src="assets/images/pic1.png" style="width: 270px ; height: 420px"/>
      <img src="assets/images/pic4.png" style="width: 270px ; height: 420px"/>
      <img src="assets/images/pic3.png" style="width: 270px ; height: 420px"/>
      <img src="assets/images/pic2.png" style="width: 270px ; height: 420px"/>
    </div>

  </div>


</div>

