<div class="app-popup">
  <div class="app-popup-content text-center">
    <div class="mb-4">
      <h4>{{message}}</h4>
    </div>
    <button mat-raised-button color="primary" class="mr-3" (click)="dialogRef.close('yes')" *ngIf="showYesNo">{{yeslable}}</button>
    <button mat-raised-button color="warn" class="mr-3" (click)="dialogRef.close('no')" *ngIf="showYesNo">{{nolable}}</button>
    <button mat-raised-button color="primary" class="mr-3" (click)="dialogRef.close('ok')" *ngIf="!showYesNo">OK</button>
  </div>
</div>
