<h2 mat-dialog-title>Mobile Confirmation</h2>
<p>You must enter the code that sanded to your mobile number</p>
<mat-dialog-content class="mat-typography">


  <div fxLayout="column" *ngIf="!isLoading">

    <mat-form-field fxFlex="auto">
      <input type="text" matInput placeholder="Code" required [(ngModel)]="code" name="fullName">
    </mat-form-field>

    <button mat-raised-button type="button" color="primary" (click)="sendClick(code)">Send code</button>

  </div>



  <div *ngIf="isLoading" fxLayout="column" style="margin-top:10px">
    <mat-progress-spinner fxFlexAlign="center"
                          color="primary"
                          mode="indeterminate">
    </mat-progress-spinner>
  </div>

</mat-dialog-content>
