<footer>
  <div class="footer-v1">
    <div class="container">
      <div class="footer-top-v1" fxLayout="column" fxLayouGap="10px">

        <div fxLayout="row" fxLayoutAlign="space-around center" class="col-gap" style="margin-top: 50px">
          <img src="assets/images/amerlogo.png" style="width: 180px ; height: 70px"/>
          <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" type="button">Contact Us</button>
            <h5>920012312</h5>
          </div>
          <img src="assets/images/vision.png" style="width: 180px ; height: 70px"/>
        </div>

        <div fxLayout="row" class="col-gap" style="margin-top: 40px">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">

           <div fxLayout="row">
             <h6>{{'footer.about_mot' | translate}}</h6>
           </div>
           <div fxLayout="row">
             <p [ngStyle]="{'text-align': textdirc}">
               {{'footer.about_body' | translate}}
             </p>
           </div>
          </div>

          <div fxFlex.xs="100" fxFlex.sm="25" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" *ngFor="let menu of menuItems.getFooterOneMenu()" fxHide.xs fxHide.sm>
            <div>
              <div fxLayout="row">
                <p>{{menu.name | translate}}</p>
              </div>
              <mat-list class="list-sm" *ngFor="let subMenu of menu.children">
                <mat-list-item *ngIf="subMenu.type == 'link' && !ishref(subMenu.state)"><a [routerLink]="['/'+subMenu.state]" routerLinkActive="active-link"> {{subMenu.name | translate}}</a></mat-list-item>

                <mat-list-item *ngIf="subMenu.type == 'link' && ishref(subMenu.state)"><a href="{{subMenu.state}}" target="_blank"> {{subMenu.name | translate}}</a></mat-list-item>

                <mat-list-item *ngIf="subMenu.type == 'social_link'"><a [href]="subMenu.state" target="_blank"> {{subMenu.name | translate}}</a></mat-list-item>
              </mat-list>
            </div>
          </div>



          <div fxFlex.xs="100" fxFlex.sm="25" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" *ngFor="let menu of menuItems.getFooterForMobile()"  fxHide.md  fxHide.lg fxHide.xl>
            <div>
              <div fxLayout="row">
                <p>{{menu.name | translate}}</p>
              </div>
              <mat-list class="list-sm" *ngFor="let subMenu of menu.children" style="padding-left: 15px">
                <mat-list-item *ngIf="subMenu.type == 'link'"><a [routerLink]="['/'+subMenu.state]" routerLinkActive="active-link"> {{subMenu.name | translate}}</a></mat-list-item>
                <mat-list-item *ngIf="subMenu.type == 'social_link'"><a href="{{subMenu.state}}" target="_blank"> {{subMenu.name | translate}}</a></mat-list-item>
              </mat-list>
            </div>
          </div>

        </div>
        <hr/>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
          <i class="fab fa-chrome" style="color:#d54f26"></i>
          <i class="fab fa-firefox" style="color:#1b9ff7"></i>
          <i class="fab fa-safari" style="color:#ffcd41"></i>
          <i class="fab fa-opera" style="color:#f21729"></i>
          <i class="fab fa-internet-explorer" style="color:#09bbef"></i>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 8px">
          <p style="text-align: center">هذا الموقع يدعم انترنت اكسبلورر9.0+ ، فاير فوكس ، سفاري ، أوبرا ، كروم وكذلك جميع الأجهزة الذكية</p>
        </div>

      </div>
      <hr/>
    </div>
  </div>
</footer>
